@model IEnumerable<TourismDataAccess.Event>

@{
    ViewBag.Title = "GetEvents";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Events</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
             Event Details
            <a href="../../Admin/AddEvent" class="btn btn-info pull-right fa fa-plus"> Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Category Name</th>
                            <th>Description</th>
                            <th>IsActive?</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count = 1;
                        }
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@count</td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>@item.IsActive</td>
                            <td>@Html.ActionLink("Edit", "EditEvent", new { id = item.EventID })</td>
                        </tr>
                            count++;
                        }
                    </tbody>
                    @*<tfoot>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Category Name</th>
                            <th>Description</th>
                            <th>IsDeleted?</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>*@
                </table>
            </div>

        </div>
    </div>
</div>

